<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="product" class="ru.gb.springTest.model.Product"/>
    <bean id="repo" class="ru.gb.springTest.repository.RepositoryImpl">
        <property name="productList">
            <list>
                <bean id="product" class="ru.gb.springTest.model.Product"/>
                <bean id="product" class="ru.gb.springTest.model.Product"/>
                <bean id="product" class="ru.gb.springTest.model.Product"/>
                <bean id="product" class="ru.gb.springTest.model.Product"/>
                <bean id="product" class="ru.gb.springTest.model.Product"/>
            </list>
        </property>
    </bean>
    <bean id="cart" class="ru.gb.springTest.model.Cart">
        <property name="repositoryAvailable" ref="repo"/>
    </bean>

</beans>